body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    box-shadow:inset #dee5ec 0px 15px 20px;
    gap: 15px;
    width: 100vw;
    height: 200px;
}

#location h2{
    font-size: 32px;
}

#location div{
    display: flex;
    font-size: 18px;
    gap: 15px;
}


#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    height: 1200px;
}

#Topbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#Bottombox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.tell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    width: 510px;
    gap: 25px;
}
.tell h1 {
    font-weight: bolder;
    font-size: 55px;
}
.headBellow {
    font-weight: lighter;
    font-size: 32px;
}
.context{
    font-size: 17px;
}