@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: Fira Sans, sans-serif;
    margin: 0;
    padding:0;
}

::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-track {
    background-color: #f2f2f2; 
}
::-webkit-scrollbar-thumb {
    background-color: #222222; 
}

body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

#top{
    background-color:#222222;
    color:#ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
}

#topItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
    width: 60vw;
    height: 60px;
    font-size: 19px;
}
#allIcons{
    display: flex;
    gap: 21px;
}
.icons{
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    color: white;
}
.icons:hover{
    color: #bdbdbd;
}

.bIcons{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100vw;
}

#scrollIcons{
    display: flex;
    align-items: center;
    gap: 16px;
}

#navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
    width: 60vw;
    height: 90px;
}

#scrollItems{

    display: flex;
    align-items: center;
    gap: 15px;

}
#scrollItems a{

    text-decoration: none;
    color: black;
    font-size: 18px;

}

#scrolls{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width:630px;

}

#news{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    color: white;
    gap: 60px;
    width: 100vw;
    height: 300px;
}
#latest{
   display: flex; 
   justify-content:space-between;
   align-items: center;
   width: 1120px;
   height: 155px;
   border-bottom: white solid 1px;
}

#text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width:750px;
    height: 50px;
}
#text h3{
    letter-spacing: 1px;
}

#bellowForm{
    display: flex;
    gap: 8px;
}

#bellowForm input{
    background: none;
    border: white solid 1px;
    border-radius: 5px;
    font-size: 17px;
    width: 167px;
    height: 50px;
    padding: 10px;
}

#bellowForm button{
    cursor: pointer;
    border: white solid 1px;
    font-size: 16px;
    border-radius: 5px;
    width: 80px;
    height: 50px;
    padding: 5px;
}

#credit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
}

#allOfThem{
    display: flex;
    font-size: 19px;
    gap: 8px;
}

footer{
    margin-top: 20px;
}

#PopUp{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 16px;
    top: 150px;
    right: 0;
    gap: 32px;
    background-color: white;
    color: #222222;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px;
}
#Clear-Prices{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 19px;
    font-weight: 550;
}
#clear{
    font-weight: bolder;
    cursor: pointer;
}
#viewCart-Check{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#viewCart-Check button{
    font-size: 18px;
    width: 368px;
    height: 51px;
}

#viewCart{
    cursor: pointer;
    transition: all 0.3s;
    background-color: #222222;
    font-weight: bold;
    color: white;
    border-radius:10px;
}
#viewCart:hover{
    background-color: white;
    color: #222222;
}
#viewCheckout{
    cursor: pointer;
    transition: all 0.2s;
    background-color: white;
    font-weight: bold;
    color: #222222;
    border-radius:10px;
}
#viewCheckout:hover{
    background-color: #222222;
    color: white;
}

.addedCart{
    display: grid;
    justify-content: center;
    border-bottom:#c4c4c4 solid 1px ;
    grid-template-columns: 0.7fr 1fr;
    gap: 20px;
    width: 360px;
    height: 120px;
}
#CartList{
    list-style: none;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.addedImg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.addedInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    gap: 10px;
}
.addedInfo p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 1em;   
}
.addedImg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}