.Cristo, .Pieta, .Redeemer, .David, .Venus, .Thinker, .Liberty, .Moai, .Nike,
.Cristo1, .Pieta2, .Redeemer3, .David1, .Venus1, .Thinker1, .Liberty1, .Moai1, .Nike1 {
  position: absolute;
  font-size: 150%;
  text-align: center;
  width: 30%;
  height: 60%;
}

.Cristo {
  margin-top: 8%;
  margin-left: 2%;
}
.Pieta {
  margin-top: 8%;
  margin-left: 68%;
}
.Redeemer {
  margin-top: 20%;
  margin-left: 35%;
}
.David {
  margin-top: 44%;
  margin-left: 5%;
}
.Venus {
  margin-top: 44%;
  margin-left: 65%;
}
.Thinker {
  margin-top: 59%;
  margin-left: 35%;
}
.Liberty {
  margin-top: 75%;
  margin-left: 5%;
}
.Moai {
  margin-top: 80%;
  margin-left: 65%;
}
.Nike {
  margin-top: 100%;
  margin-left: 35%;
}
.Cristo img, .Pieta img, .Redeemer img, .David img, .Venus img, .Thinker img, .Liberty img, .Moai img, .Nike img,
.Cristo1 img, .Pieta2 img, .Redeemer3 img, .David1 img, .Venus1 img, .Thinker1 img, .Liberty1 img, .Moai1 img, .Nike1 img {
  box-shadow: 0px 0px 20px 3px black;
  height: 300px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-shadow: 1px 1px 3px black;
}

#CDM, #MM, #PL, #DM, #VM, #TR, #SB, #MO, #NS,
#CDM-GEO, #MM-GEO, #PL-GEO, #DM-GEO, #VM-GEO, #TR-GEO, #SB-GEO, #MO-GEO, #NS-GEO {
  text-shadow: 1px 1px 3px black;
  margin-top: 1%;
  margin-bottom: 1%;
}



