@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-color: #00e1ff05;
  font-family: "Alumni Sans SC", sans-serif;
  font-style: oblique;
  overflow-y: scroll;
}
body, html {
  height: 160%;
}

.language, .language-other {
  display: inline-flex;
  justify-content: center;
  text-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
}
.language{
  gap:100px;
  font-size: 32px;
}
.language-other {
  gap:50px;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(32, 159, 0);
  text-shadow: 1px 1px 15px rgb(51, 255, 0);
}

ul {
  list-style: none;
}
nav {
  font-weight:bold;
  padding:10px;
  position: fixed;
  z-index: 2;
  top:0;
  left: 0;
  right: 0;
  background-color: rgb(226, 226, 226);
  text-align: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
}
nav p{
  position: absolute;
  font-size:70px;
  left:1%;
  top:-138.5%;
}
.members, .members2 {
  font-weight:500;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(230, 230, 230);
  text-align: center;
  text-shadow: 1px 1px 10px black;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.35);
}
.members {
  font-size: 18px;
}
.members2 {
  font-size: 17.3px;
}

.SWITCH {
  position: absolute;
  font-size: 30px;
  right:2%;
  top:10%;
}
#english{
  font-size:38px;
}
.SWITCH input {
  display: none;
}
.SWITCH:hover {
  color: rgb(35, 177, 0);
  text-shadow: 1px 1px 3px rgb(51, 255, 0);
}

#team, #credit {
  text-align: center;
}
#logo1{
  color: rgb(44, 219, 0);
}
#logo2{
  color: rgb(0, 0, 0);
}
#line1{
  color: rgb(0, 0, 0);
}
#line2{
  color: rgb(44, 219, 0);
}
#back{
  background-repeat: no-repeat;
  position:fixed;
  left:0;
  height:100vh;
  width:100vw;
  z-index:-1;
  opacity:0.5;
}
