.eng,.geo{
  margin-top: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1%;
}
.pizza, .burger, .sushi, .pasta, .steak, .salad, .cake, .icecream, .taco {
  border: 5px solid;
  font-size: 150%;
  text-align: center;
  background-color: rgb(157, 166, 170);
}
.pizza p, .burger p, .sushi p, .pasta p, .steak p, .salad p, .cake p, .icecream p, .taco p{
  background-color: darkgrey;
  border: solid;
}
.price{
  font-weight: bold;
  color: rgb(12, 125, 0);
}
.pizza img, .burger img, .sushi img, 
.pasta img, .steak img, .salad img, .cake img, .icecream img, .taco img {
  box-shadow: 0px 0px 20px 3px black;
  height: 300px;
  margin-bottom: 1%;
  text-shadow: 1px 1px 3px black;
}