.persistence, .pearl, .scream, .guernica, .venus, .gothic,.starry,.last,.Monalisa {
  position: absolute;
  font-size: 150%;
  text-align: center;
}

.Monalisa {
  margin-top: 8%;
  margin-left: 5%;
}

.last {
  margin-top: 8%;
  margin-left: 65%;
}

.starry {
  margin-top: 20%;
  margin-left: 38%;
}

.persistence {
  margin-top: 44%;
  margin-left: 5%;
}
.pearl {
  margin-top: 45%;
  margin-left: 65%;
}
.scream {
  margin-top: 55%;
  margin-left: 38%;
}
.guernica {
  margin-top: 83%;
  margin-left: 5%;
}
.venus {
  margin-top: 80%;
  margin-left: 65%;
}
.gothic {
  margin-top: 100%;
  margin-left: 47%;
}

.Monalisa img, .last img, .starry img, 
.persistence img, .pearl img, .scream img, .guernica img, .venus img, .gothic img,
#dali img, #vermeer img, #munch img, #picasso img, #botticelli img, #wood img,
#dali1 img, #vermeer1 img, #munch1 img, #picasso1 img, #botticelli1 img, #wood1 img,
#LD img, #LD1 img, #leo img, #leo1 img, #van img, #van1 img {
  box-shadow: 0px 0px 20px 3px black;
  height: 300px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 3px black;
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid;
}

#dali, #vermeer, #munch, #picasso, #botticelli, #wood,
#dali1, #vermeer1, #munch1, #picasso1, #botticelli1, #wood1,
#LD, #LD1, #leo, #leo1, #van, #van1 {
  position: absolute;
  text-shadow: 1px 1px 3px black;
  margin-top: 1%;
  margin-bottom: 1%;
}
