img {
  position:fixed;
  margin-top:40%;
  left:37.5%;
  width: 500px; 
}
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
    padding: 20px 40px;
    background-color: #1e3b1e;
    background:none;
    font-size:25px;
  }
  nav a {
    display: inline-block;
    transition: transform 0.2s ease;
    color: #f1f5f9;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    transform: scale(1.2);
    color: #07cc00;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
  }
  
  .back-video {
    background-attachment: fixed;
    object-fit: cover;
    position: fixed;     
    overflow: hidden;   
    top: 0;                 
    left: 0;                
    width:100%;
    height:100%;              
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .social-icons a {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  
  .social-icons a:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  
  
  .nav-links {
    display: flex;
    gap: 25px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #58f838;
  }
    