body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 40px;
    background-color: #1e293b;
  }
  
  header h1 {
    color: #18ca00c4;
  }
  
  nav a {
    display: inline-block;
    transition: transform 0.2s ease;
    color: #f1f5f9;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }
  
  nav a:hover {
    transform: scale(1.2);
    color: #07cc00;
  }
  .head{
    text-shadow:0 0 10px rgb(5, 1, 255);
    font-size: 60px;
    margin-left:-0.5%;
    color:rgb(156, 156, 156);
    text-align:left;
    margin-top:5%;
    padding-left: 200px;
    border:none;
    background:none;
}
.information{
  text-shadow:0 0 10px rgb(0, 0, 0);
  font-style: italic;
  border-style:outset;
  border-color:rgb(138, 136, 136);
  border-width:9px;
  margin-top:0%;
  margin-left:7%;
  margin-right:7%;
  font-size:35px;
  line-height: 1.5;
  color:rgb(156, 156, 156);
}
a{
  text-decoration: none;
  color:red;
}
 #Goa{
    text-shadow:0 0 10px rgba(1, 255, 65, 0.644);
    margin-bottom: -3%;
    margin-top:1%;
    margin-left:2%;
    color: rgb(6, 168, 1);
}
#join{
  text-shadow:0 0 10px rgba(1, 255, 65, 0.527);
  margin-bottom: -3%;
  margin-top:-2%;
  margin-left:2%;
  color: rgb(6, 168, 1);
}
#needs{
  text-shadow:0 0 10px rgba(1, 255, 65, 0.349);
  margin-bottom: -3%;
  margin-top:-2%;
  margin-left:1.5%;
  color: rgb(6, 168, 1);
}

strong{
    color: rgb(4, 0, 252);
}
em{
    color: rgb(193, 0, 252);
}
b{
    color: rgb(255, 123, 0);
}
